<form [formGroup]="registrationForm" (ngSumbit)="onRegister()">
  <fieldset>
    <legend>Register new actor</legend>
    <div class="form-group has-danger">
      <label for="role" class="form-control-label">Role:</label>
      <select id="role" class="form-control" formControlName="role">
        <option *ngFor="let role of roleList" [value]="role">
          {{ role }}
        </option>
      </select>
    </div>

    <div class="form-group has-danger">
      <label for="name" class="form-control-label">Name:</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="form-control"
      />
    </div>

    <div class="form-group has-danger">
      <label for="surname" class="form-control-label">Surname:</label>
      <input
        id="surname"
        type="text"
        formControlName="surname"
        class="form-control"
      />
    </div>
    <div class="form-group has-danger">
      <label for="phone" class="form-control-label">Phone:</label>
      <input
        id="phone"
        type="text"
        formControlName="phone"
        class="form-control"
      />
    </div>
    <div class="form-group has-danger">
      <label for="address" class="form-control-label">Address:</label>
      <input
        id="address"
        type="text"
        formControlName="address"
        class="form-control"
      />
    </div>

    <button class="btn btn-primary" type="submit">Register</button>

  </fieldset>
</form>
